section {
    max-width: 25rem;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: var(--color-off-gray);
    border-radius: 0.313rem;
}

h1{
    font-size: 2rem;
    margin: 20px;
    margin-bottom: 20px;
   
}

p{
    font-size: 19px;
    margin-top: 20px;
}

.form__field {
    margin-bottom: 1.25rem;
}

.form__field label {
    display: block;
    margin-bottom: 0.313rem;
    color: var(--color-black);
}

.form__field input {
    width: calc(100% - 1.125rem);
    padding: 0.5rem;
    border: 0.063rem solid var(--color-gray);
    border-radius: 0.313rem;
}

.img{
    padding: 20px;
    width: 50px;
   
}

.btn-save {
    width: 100%;
    padding: 0.625rem;
    background-color: var(--color-off-black); 
    color: var(--color-white); 
    text-decoration: none;
    border-radius: var(--border-radius);
    font-weight: bold;
    border: 0.063rem solid var(--color-off-black); 
    transition: background-color 0.3s ease;
    margin-bottom: 1.25rem; 
    margin-top: 1.25rem;
}

.btn-save:hover {
    background-color: var(--color-off-black); 
    color: var(--color-primary); 
}
