/* VARIABLES */
:root {
    --font-nunito: 'Nunito', sans-serif;
    --font-size-text: 1rem;;
    --font-size-h2: 1.25rem;
    --font-size-h1: 2rem;
    --font-bold: bold;
    --text-align: center;

    --color-white: #fff;
    --color-black: #000;
    --color-off-white: #f5f5f5;
    --color-off-gray: #f0f0f0;
    --color-gray: #ccc;
    --color-off-black: #3d3d3d;
    --color-primary: #ffdd00;
    --color-light-primary: #ffee81;
    
    --border-radius: 0.313rem;
}

/* SHARED */
body, label, h2 {
    font-family: var(--font-nunito);
}

body {
    margin: 0;
    padding: 0;
    text-align: var(--text-align); 
    background-color: #f4f4f4;
}

h1{
    font-size: var(--font-size-h1);
    color: var(--color-black);
}

h2 {
    font-size: var(--font-size-h2);
}

.container {
    max-width: 50rem;
    padding: 1.25rem;
}

header {
    background-color: var(--color-black);
    padding: 1.25rem 0;
    color: var(--color-primary);
    text-align: left;
    height: 28px;
}

.logo img {
    max-width: 7.5rem;
    height: auto;
    margin-left: 1.563rem;
}

