body{
    margin: 20px;
}

h1{ 
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.images{
    display: flex;
    justify-content: space-around;

}

.button {
    display: block;
    width: 200px;
    height: 20px;
    background: #ffdd00;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

form > h2{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.full__form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.form__field{
    display: flex;
    justify-content: flex-start;
    padding: 4px;
}

label, input{
    display: flex;
    padding: 4px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.form__field:nth-child(3) {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    flex-direction: column-reverse;
    align-items: center;
}

.input__button{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 200px;
    font-size: 24px;
}

.checkbox{
    display: flex;
}