::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.agenda-info {
    background-color: var(--color-background);
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.newShift {
    background-color: var(--color-off-black);
    color: var(--color-white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: var(--font-size-h3);
    font-family: var(--font-nunito);
}

.newShift:hover {
    color: var(--color-primary);
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup:target {
    display: block;
}

.popup-content {
    background-color: var(--color-background);
    margin: auto;
    padding: 20px;
    border: 4px solid var(--color-background);
    width: 80%;
}

.close {
    color: var(--color-off-black);
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
}

.task, .user{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.shift h4{
    padding-top: 20px;
}

.date, .startTime, .endTime{
    padding: 8px;
}

.button {
    margin-top: 20px;

    background-color: var(--color-off-black);
    color: var(--color-white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: var(--font-size-h3);
    font-family: var(--font-nunito);
}

.button:hover,
.button:focus {
    color: var(--color-primary);
    cursor: pointer;
}

.link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    
    padding: 8px;
    border: 4px solid var(--color-light-primary);
    background-color: var(--color-light-primary);
    border-radius: 8px;

    font-size: 20px;
    font-family: var(--font-nunito);
    font-weight: 500;
    text-decoration: none;
    color: var(--color-off-black);
}

.link:hover{
    border: 4px solid var(--color-off-black);
    background-color: var(--color-off-black);
    color: var(--color-primary);
}

.cycle{
    display: flex;
    align-items: center;
    padding-left: 140px;
}

a {
    font-size: var(--font-size-h2);
    text-decoration: none;
    color: var(--color-black);
}

section {
    display: flex;
    flex-flow: row nowrap;
    color: var(--color-black);
}

.users {
    background-color: var(--color-background);
}

.userList {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.row {
    background-color: var(--color-off-gray);

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px;
}


/* calendar

.row.fix {
    display: flex;
    flex-wrap: wrap;
}

.weekly-calendar {
    min-width: 850px;
}

.calendar {
    background: #2CA8C2;
    color: var(--color-black);
    width: 100%;
    font-family: var(--font-nunito);
    table-layout: fixed;
}

.calendar.purple {
    background: #913CCD;
}

.calendar.pink {
    background: #F15F74;
}

.calendar.orange {
    background: #F76D3C;
}

.calendar.yellow {
    background: #F7D842;
}

.calendar.green {
    background: #98CB4A;
}

.calendar.grey {
    background: #839098;
}

.calendar.blue {
    background: var(--color-light-primary);
}

.calendar-title th {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.05);
}

.calendar-header th {
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.calendar tbody tr td {
    text-align: center;
    vertical-align: top;
    width: 14.28%;
}

.calendar tbody tr td.pad {
    background: rgba(255, 255, 255, 0.1);
}

.calendar tbody tr td.day div:first-child {
    padding: 4px;
    line-height: 17px;
    height: 25px;
}

.calendar tbody tr td.day div:last-child {
    font-size: 10px;
    padding: 4px;
    min-height: 25px;
}

.calendar tbody tr td.today {
    background: rgba(0, 0, 0, 0.25);
}

.calendar tbody tr td.mask-start,
.calendar tbody tr td.mask,
.calendar tbody tr td.mask-end {
    background: var(--color-gray);
}

.calendar .cal-weekview-time {
    border: rgba(0, 0, 0.25);
}

.calendar .cal-weekview-time {
    padding: 4px 2px 2px 4px;
}

.calendar .cal-weekview-time>div {
    background: rgba(0, 0, 0, 0.03);
    padding: 10px;
    min-height: 50px;
}

.calendar .cal-weekview-event.mask-start,
.calendar .cal-weekview-event.mask,
.calendar .cal-weekview-event.mask-end {
    background: var(--color-gray);
    margin-bottom: 3px;
    padding: 5px;
}

.calendar .cal-weekview-time-th {
    background: rgba(0, 0, 0, .1);
}

.calendar .cal-weekview-time-th>div {
    padding: 10px;
    min-height: 50px;
}

.calendar .event-summary-row {
    display: block;
}

@media screen and (max-width:768px) {
    .weekly-calendar-container {
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
}*/

.event{
    top: 0px; /* Adjust this value based on your layout */
    height: 60px; /* Adjust this value based on your layout */
}
