body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%; 
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; 
}

.form-group {
    margin-bottom: 20px; 
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666; 
}

.form-group select,
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 0.625rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.313rem;
    color: var(--color-black);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffee81;
}

th {
    padding: 10px 20px;
    text-align: left;
    background-color: #f2f2f2;
    color: #333;
    border-bottom: 2px solid #ddd;
}

h2 {
    margin-bottom: 20px;
}
