/* Algemene opmaak */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: f4f4f4;
}

h1 {
    font-size: 2rem;
    color: var(--color-black);
}

h2 {
    font-size: 1.25rem;
}

.-dashboard {
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th,
td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid var(--color-off-gray);
}

th {
    background-color: var(--color-off-white);
    font-weight: bold;
}

input[type='text'] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.313rem;
    border: 1px solid var(--color-gray);
    margin-bottom: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
}

button[name='approve'] {
    background-color: var(--color-primary);
    color: var(--color-black);
    margin-right: 0.5rem;
    margin-bottom: 10px;
}

button[name='reject'] {
    background-color: var(--color-off-black);
    color: var(--color-white);
}