::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.agenda-info {
    background-color: var(--color-background);
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.schedule {
    background-color: var(--color-off-gray);

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
}

.event-date{
    padding: 12px;
    font-size: var(--font-size-h2);

    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
}

.event-time, .event-task, .event-user{
    padding: 8px;
}

.event-task{
    background-color: var(--color-gray);
}

.title{
    font-weight: bold;
}