h1 {
    font-size: 24px;
    margin-left: 20px;
}

p {
    margin: 25px 20px;
}

.button {
    width: 20%;
    padding: 10px;
    background-color: #fff; 
    color: #3d3d3d; 
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #3d3d3d; 
    transition: background-color 0.3s ease;
    margin-bottom: 20px; 
    margin-top: 20px;
}

.button:hover {
    background-color: #3d3d3d; 
    color: #fff; 
}



.button-container {
    display: flex;
    justify-content: left; 
    margin-left: 20px;
    margin-top: -10px;

}
