body {
    font-family: Arial, sans-serif;
    background-color: var(--color-off-white);
}

.-dashboard {
    max-width: 37.5rem;
    margin: 3.125rem auto;
    padding: 1.25rem;
    background-color: var(--color-white);
    border-radius: 0.313rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.-dashboard h1, .-dashboard h2 {
    text-align: var(--text-align);
    margin-bottom: 1.25rem;
    color: var(--color-black);
}

.-dashboard form .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
}

.-dashboard form .date-time-group {
    flex: 1;
}

.-dashboard form label {
    color: var(--color-black);
}

.-dashboard form select,
.-dashboard form input[type="text"] {
    width: 99%;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 0.063rem solid var(--color-gray);
    border-radius: 0.313rem;
}

.-dashboard form input[type="date"],
.-dashboard form input[type="time"]{
    width: 91%;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 0.063rem solid var(--color-gray);
    border-radius: 0.313rem;
}

.-dashboard form button[type="submit"],
.-dashboard form button[type="cancel"] {
    width: calc(50% - 0.313rem);
    padding: 0.625rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.313rem;
    color: var(--color-black);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.-dashboard form button[type="submit"]:hover,
.-dashboard form button[type="cancel"]:hover {
    background-color: var(--color-light-primary);
}

.-dashboard form button[type="cancel"] {
    background-color: var(--color-white); 
    color: var(--color-black); 
    border: 0.063rem solid var(--color-black); 
}

.-dashboard form button[type="cancel"]:hover {
    background-color: var(--color-black); 
    color: var(--color-white); 
}

.-dashboard form input[type="text"] {
    width: calc(96% - 0.188rem);
}
