body {
    font-family: var(--font-nunito);
    background-color: var(--color-off-white);
}

section {
    max-width: 37.5rem;
    margin: 3.125rem auto;
    padding: 1.25rem;
    background-color: var(--color-white);
    border-radius: 0.313rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 1.25rem;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
}

.date-time-group {
    flex: 1;
}

label {
    color: var(--color-black);
}

.typeOfAbsence, .input {
    width: calc(96% - 0.188rem);
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 0.063rem solid var(--color-gray);
    border-radius: 0.313rem;
}

.button{
    width: calc(50% - 0.313rem);
    padding: 0.625rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.313rem;
    color: var(--color-black);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover{
    background-color: var(--color-light-primary);
}

.link{
    background-color: var(--color-white); 
    color: var(--color-black); 
    border: 0.063rem solid var(--color-black); 
}

.link:hover {
    background-color: var(--color-black); 
    color: var(--color-white); 
}