p {
    margin: 1.563rem 1.25rem;
}

h1{
    margin-left: 0.938rem;
    font-size: 1.5rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 30vh;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user {
    border: 0.125rem solid var(--color-off-black);
    border-radius: 1.25rem;
    padding: 1.875rem;
    width: 6.25rem;
    height: 10rem;
    margin-bottom: 0.625rem;
   
    text-align: var(--text-align);
}

.image {
    display: inline-block;
    vertical-align: middle; /* Plaats de afbeelding verticaal in het midden */
}

.name {
    margin: 0;
}

@media(min-width: 37.5rem){
    .image-container {
        height: 11.25rem;
        margin-left: -5rem
    }

    .user {
        
        width: 9.375 rem;
        padding-bottom: 3.125rem;
    }

    
}

