/* @ -1,77 +0,0 @@
/* Algemene opmaak */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Globale stijlen */
p {
    margin: 1.563rem 1.25rem;
}

h1 {
    margin-left: 0.938rem;
    font-size: 1.5rem;
    margin-top: 30px;
}

.name{
    font-size: large;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px; /* Voeg padding toe rondom image-container */
   
}

.user {
    border: 0.125rem solid var(--color-off-black);
    border-radius: 1.25rem;
    padding: 1.875rem;
    width: 6.25rem;
    height: 15rem;
    margin-bottom: 30px;
    text-align: var(--text-align);
}

.image {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 30px;
}

.name {
    margin: 0;
}

.taskList {
    list-style-type: circle; /* Verwijder opsommingstekens */
    padding: 0; /* Verwijder innerlijke vulling */
    margin-bottom: 10px;
}

.taskList li {
    padding: 0; /* Verwijder innerlijke vulling */
    margin-bottom: 10px;
}
.taks{
    display: flex;
    flex-direction: row;
}

@media (min-width: 37.5rem) {
    .image-container {
        min-height: 200px; /* Minimum hoogte voor image-container */
    }

    .user {
        width: 9.375rem;
        padding-bottom: 3.125rem;
    }
}