body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
}

.container {
    width: 60%;
    margin: auto;
    background: var(--color-white);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: var(--color-off-black);
    margin: 20px;
}

h2{
    text-align: center;
    color: var(--color-off-black);
    margin: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-off-black);
}

select,
input[type="date"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.313rem;
    color: black;
}

button:hover {
    background-color: var(--color-light-primary);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: black;
    color: var(--color-white);
    text-align: left;
    padding: 12px;
}

td {
    border: 1px solid var(--color-off-gray);
    text-align: left;
    padding: 12px;
}

tr:nth-child(odd) {
    background-color: var(--color-off-white);
}

tr:hover {
    background-color: var(--color-gray);
}